* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
.header-wrapper::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.header-wrapper {
    border-bottom: 2px solid #0c69ae;
    padding-top: 20px;
}
body, div, ul, li, a, img {
    margin: 0;
    padding: 0;
    padding-top: 0px;
}
.header-wrapper .headerNavMain {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.header-wrapper .nav-all {
    float: left;
    background: #0c69ae;
    width: 205px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.pullDownList {
    width: 205px;
    height: 405px;
    background: #1978be;
    position: relative;
    z-index: 2;
    padding: 10px 0;
}
#pull li {
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    color: #fefcfc;
    padding-left: 10px;
    position: relative;
}
ul, li {
    list-style: none;
}
ol, ul {
    list-style: none outside none;
}
a {
    text-decoration: none;
}
#pull a {
    color: white;
}
.headerLink {
    height: 40px;
    line-height: 40px;
}
.header-wrapper .headerLink ul li {
    float: left;
    margin-left: 30px;
}
.headerLink li {
    font-size: 20px;
}

/*πÿ”⁄¬÷≤•*/
		#wrapper{
            position:relative;
            margin:30px auto;
            width:400px;
            height:200px;
        }
        #banner{
            position:relative;
            width:400px;
            height:200px;
            overflow:hidden;
        }
        .imgList{
            position:relative;
            width:2000px;
            height:200px;
            overflow:hidden;
            z-index:10;
        }
        .imgList li{
            float:left;
            display:inline;
        }
        #prev,#next{
            position:absolute;
            top:80px;
            z-index:20;
            cursor:pointer;
            opacity:0.5;
        }
        #prev{
            left:10px;
        }
        #next{
            right:10px;
        }
        #prev:hover{
            opacity:0.8;
        }
        #next:hover{
            opacity:0.8;
        }
/*end*/

.drugF1 span {
    display: inline-block;
    width: 190px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.keyword {
    position: absolute;
    right: 250px;
    bottom: 10px;
    height: 20px;
    color: #ccc;
}
.keyword a {
    padding: 0 10px;
    color: #5b5b5b;
    text-decoration: none;
    font-size: 14px;
}
.drugMain::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.drugLeft {
    float: left;
    width: 190px;
    border-right: 1px solid #e9e9e9;
    background: #fff;
}
.drugLeft a {
    float: left;
    text-align: center;
    width: 94px;
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    color: #5b5b5b;
    text-decoration: none;
}
.drugRList dl {
    float: left;
    width: 170px;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #e9e9e9;
}
.drugRList dl dt {
    position: relative;
    margin-bottom: 15px;
    padding-top: 15px;
    height: 100px;
}
.drugRList dl dt img {
    width: 100px;
    height: 100px;
    position: relative;
}
.drugRList dd {
    padding-top: 10px;
}
.drugRList dd p {
    font-size: 12px;
}
.drugRList dl dd span {
    color: red;
}